.more-margin {
    margin-bottom: 50px;
}

.btn-large {
    margin-bottom: 20px !important;
}

p {
    font-size: large !important;
}

span a {
    display: inline !important; /* Ensures it stays in the normal text flow */
    line-height: inherit !important; /* Matches surrounding text */
    vertical-align: baseline !important; /* Aligns with text properly */
}

/* Center the toast */
#toast-container {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
